<div class="master-container">
<div class="header-collection-cache">
<p>My Collection (Caches)</p>
</div>


<div class="master-container-cache-collection">
  <%# BOTH ICONS ON TOP %>
<div class="icons-container-caches-species">
  <%= link_to favorites_caches_path do %>
    <img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669264613/FORAGR/ICON%20-%20caches.png" alt="icon caches" class="icon-caches"></a>
  <% end %>
  <%= link_to favorites_species_index_path do %>
    <img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669264613/FORAGR/ICON%20-%20species.png" alt="icon species" class="icon-species"></a>
  <% end %>
</div>

<div class="container mt-2" style="padding-left: 0px; padding-right: 0px">
  <%# <h2>Caches</h2> %>
  <% if @cache_favorites.empty? %>
    <p>You have not added any caches to your collection. <%= link_to "Explore caches in my area", caches_path %></p>
  <% else %>
      <div class="container-caches-collection">
        <% @caches.each do |cache| %>

          <div data-controller="toggle-favorite">
            <div class="card-cache" data-toggle-favorite-target="cacheCard">
              <a href="/caches/<%= cache.id %>">
                <span class="show-link"></span>
              </a>
              <%= cache.photos.first.present? ? cl_image_tag("#{cache.photos.first.key}") : (image_tag("#{cache.seed_photo}") || "") %>
              <div class="card-cache-infos">
                <h2><%= cache.title %></h2>
                <p>@<%= cache.user.username %></p>
                <p><%= cache.species.present? ? cache.species[0].name : "" %></p>
              </div>
              <div class="fa-solid-cache-collection">
              <%= render 'shared/favorite_icon' %>
              </div>
            </div>
          </div>

        <% end %>
      </div>
  <% end %>
  </div>
</div>
