<div class="master-container">

<div class="master-container-cache-collection">
  <div class="icons-container-caches-species mt-5">
    <%= link_to favorites_caches_path do %>
      <div class="container container-sm text-center">
        <img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669264613/FORAGR/ICON%20-%20caches.png" alt="icon caches" class="icon-caches"></a>
        <p class="gold-bolded-text"><small><u>CACHES</u></small></p>
      </div>
      <% end %>
      <%= link_to favorites_species_index_path do %>
        <div class="container container-sm text-center">
          <img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669264613/FORAGR/ICON%20-%20species.png" alt="icon species" class="icon-species"></a>
          <p class="green-muted-text"><small>SPECIES</small></p>
        </div>
      <% end %>
  </div>

<div class="container mt-2" style="padding-left: 0px; padding-right: 0px">
  <% if @cache_favorites.empty? %>
    <p>You have not added any caches to your collection. <%= link_to "Explore caches in my area", caches_path %></p>
  <% else %>
      <div class="container-caches-collection">
        <% @caches.each do |cache| %>

          <div data-controller="toggle-favorite">
            <div class="card-cache" data-toggle-favorite-target="cacheCard">
              <a href="/caches/<%= cache.id %>">
                <span class="show-link"></span>
              </a>
              <%= cache.photos.first.present? ? cl_image_tag("#{cache.photos.first.key}") : (image_tag("#{cache.seed_photo}") || "") %>
              <div class="card-cache-infos">
                <h2><%= cache.title %></h2>
                <p>@<%= cache.user.username %></p>
                <p><%= cache.species.present? ? cache.species[0].name : "" %></p>
              </div>
              <div class="fa-solid-cache-collection">
              <%= render 'shared/favorite_icon' %>
              </div>
            </div>
          </div>

        <% end %>
      </div>
  <% end %>
  </div>
</div>
