
<div class="icons-container-caches-species">
  <a href="#"><img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669264613/FORAGR/ICON%20-%20caches.png" alt="icon caches" class="icon-caches"></a>

  <a href="#"><img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669264613/FORAGR/ICON%20-%20species.png" alt="icon species" class="icon-species"></a>
</div>

<div class="container mt-2" data-controller="toggle-favorite">
  <h2>Caches</h2>
  <% if @cache_favorites.empty? %>
    <p>You have not added any caches to your collection. <%= link_to "Explore caches in my area", caches_path %></p>
  <% else %>
      <div class="container-caches-collection" data-toggle-favorite-target="card">

        <% @caches.each do |cache| %>

          <div class="card-cache">
            <%= cache.seed_photo == nil ? "" : image_tag("#{cache.seed_photo}") %>
            <div class="card-cache-infos">
              <h2><%= link_to cache.title, cache_path(cache) %></h2>
              <p>@<%= cache.user.username %></p>
              <%= render 'shared/favorite_icon' %>
            </div>
          </div>

        <% end %>
      </div>
  <% end %>
</div>
    <br>

    <%= link_to "Add a cache", new_cache_path, class: "btn btn-add-a-cache" %>


  </div>
