<ul style="list-style: none">
  <div>
    <li><h2><%= @species[0].name %></h2></li>
    <li><% @species[0].photos.each do |photo| %>
          <%= image_tag photo, width: 200 %>
        <% end %></li>
    <li>
      <h4><%= @species[0].overview.first %></h4>
      <p><%= @species[0].overview.last%></p>
    </li>
    <li>
      <h4><%= @species[0].edible.first %></h4>
      <p><%= @species[0].edible.last %></p>
    </li>
    <li>
      <h4><%= @species[0].leaves.first %></h4>
      <p><%= @species[0].leaves.last %></p>
    </li>
    <li>
      <h4><%= @species[0].flowers.first %></h4>
      <p><%= @species[0].flowers.last %></p>
    </li>
    <li>
      <h4><%= @species[0].fruit.first %></h4>
      <p><%= @species[0].fruit.last %></p>
    </li>
     <li>
      <h4><%= @species[0].features.first %></h4>
      <p><%= @species[0].features.last %></p>
    </li>
    <li>
      <h4><%= @species[0].sporeprint.first %></h4>
      <p><%= @species[0].sporeprint.last %></p>
    </li>
    <li>
      <h4><%= @species[0].gills.first %></h4>
      <p><%= @species[0].gills.last %></p>
    </li>
    <li>
      <h4><%= @species[0].habitat.first %></h4>
      <p><%= @species[0].habitat.last %></p>
  </div>
</ul>
