<ul style="list-style: none">
  <div>
    <li><%= @plant[:name] %></li>
    <li><% @plant[:photos].each do |photo| %>
          <%= image_tag photo, width: 200 %>
        <% end %></li>
    <li>
      <h4><%= @plant[:overview].first %></h4>
      <p><%= @plant[:overview].last%></p>
    </li>
    <li>
      <h4><%= @plant[:edible].first %></h4>
      <p><%= @plant[:edible].last %></p>
    </li>
    <li>
      <h4><%= @plant[:leaves].first %></h4>
      <p><%= @plant[:leaves].last %></p>
    </li>
    <li>
      <h4><%= @plant[:flowers].first %></h4>
      <p><%= @plant[:flowers].last %></p>
    </li>
    <li>
      <h4><%= @plant[:fruit].first %></h4>
      <p><%= @plant[:fruit].last %></p>
    </li>
    <li>
      <h4><%= @plant[:habitat].first %></h4>
      <p><%= @plant[:habitat].last %></p>
    </li>
  </div>
</ul>
