<div class="master-container">
<div class="species-name">
  <h2><%= @species.name %></h2>
</div>

<div class="container-species-pictures">
  <%# <div class="species-photos"> %>
    <div class="p1-species-show">
      <%= image_tag @species.photos.first %>
    </div>
    <%# <div class="photo-species-2-3"> %>
      <div class="p2-species-show">
        <%= image_tag @species.photos[1] %>
      </div>
      <div class="p3-species-show">
        <%= image_tag @species.photos.last %>
      </div>
    <%# </div> %>
  <%# </div> %>
</div>

<div class="species-infos" style="list-style: none">
<br>
<div data-controller="toggle-favorite">
  <div  class="favorite-icon-species"><%= render "shared/favorite_icon" %></div> <br>
    <div class="<%= @specieses.include?(@species) ? 'card-species-added-to-collection' : 'card-species-added-to-collection d-none' %>" data-toggle-favorite-target="card">
      <%= image_tag @species.photos.first, style: "width: 80px; height: 80px;" %>
      <div class="card-species-added-to-collection-infos">
        <h2><%= link_to "Added to your collection!", favorites_species_index_path, class: "text-decoration-none" %></h2>
      </div>
      <div class="icon-added-species">
        <img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669318620/FORAGR/ICON%20-%20added%20species%20in%20collection.png" alt="icon add light green" style="margin-right: 16px;">
      </div>
    </div>
  </div>
</div>
<br>

<div class="species-infos">
      <h4><%= @species.overview.first %></h4>
      <p><%= @species.overview.last%></p>

      <h4><%= @species.edible.first %></h4>
      <p><%= @species.edible.last %></p>

      <h4><%= @species.leaves.first %></h4>
      <p><%= @species.leaves.last %></p>

      <h4><%= @species.flowers.first %></h4>
      <p><%= @species.flowers.last %></p>

      <h4><%= @species.fruit.first %></h4>
      <p><%= @species.fruit.last %></p>

      <h4><%= @species.features.first %></h4>
      <p><%= @species.features.last %></p>

      <h4><%= @species.sporeprint.first %></h4>
      <p><%= @species.sporeprint.last %></p>

      <h4><%= @species.gills.first %></h4>
      <p><%= @species.gills.last %></p>

      <h4><%= @species.habitat.first %></h4>
      <p><%= @species.habitat.last %></p>
</div>
</div>
</div>
