<ul style="list-style: none">
  <div>
    <li><%= @plant[:name] %></li>
    <li><% @plant[:photos].each do |photo| %>
          <%= image_tag photo, width: 200 %>
        <% end %></li>
    <li>
      <h4><%= @plant[:overview].first %></h4>
      <p><%= @plant[:overview].last%></p>
    </li>
    <li>
      <h4><%= @plant[:edible].first %></h4>
      <p><%= @plant[:edible].last %></p>
    </li>
    <li>
      <h4><%= @plant[:features].first %></h4>
      <p><%= @plant[:features].last %></p>
    </li>
    <li>
      <h4><%= @plant[:sporeprint].first %></h4>
      <p><%= @plant[:sporeprint].last %></p>
    </li>
    <li>
      <h4><%= @plant[:gills].first %></h4>
      <p><%= @plant[:gills].last %></p>
    </li>
    <li>
      <h4><%= @plant[:habitat].first %></h4>
      <p><%= @plant[:habitat].last %></p>
    </li>
  </div>
</ul>
