<div class="container">
  <%# <%= @plant %>
  <%# <%= @fungus %>
  <ul style="list-style: none">
    <% @tree_shrub.each do |content| %>
      <div>
        <li>
          <% if content.kind_of?(Array)%>
            <h4><%= content.first %></h4>
            <p><%= content.last %></p>
          <% else %>
            <h1><%= content %></h1>
          <% end %>
        </li>
        <br>
      </div>
    <% end %>
  </ul>
</div>
