<% if @cache %>
  <% if current_user.favorited?(@cache) %>

      <div>
          <i data-toggle-favorite-target="link"
          data-action="click->toggle-favorite#toggleIconFill"
          class="fa-solid fa-heart-circle-minus fa-2xl" id="icon-fav"></i>
          <%= link_to "LINK", toggle_favorite_cach_path(@cache), remote: true,
          data: { 'turbo-method': :post }, id: "delete-link" %>
      </div>

    <% else %>
      <div>
        <%= link_to toggle_favorite_cach_path(@cache), remote: true,
          data: { 'turbo-method': :post } do %>
          <i data-toggle-favorite-target="link" data-action="click->toggle-favorite#toggleIconFill" class="fa-solid fa-heart-circle-plus fa-2xl"></i>
        <% end %>
      </div>

    <% end %>
<% end %>

<% if @spec %>
  <% if current_user.favorited?(@spec) %>

      <div>
        <%= link_to toggle_favorite_species_path(@spec), remote: true,
          data: { 'turbo-method': :post } do %>
          <i data-toggle-favorite-target="link" data-action="click->toggle-favorite#toggleIconFill" class="fa-solid fa-heart-circle-minus fa-2xl"></i>
        <% end %>
      </div>


    <% else %>

      <div>
        <%= link_to toggle_favorite_species_path(@spec), remote: true,
          data: { 'turbo-method': :post } do %>
          <i data-toggle-favorite-target="link" data-action="click->toggle-favorite#toggleIconFill" class="fa-solid fa-heart-circle-plus fa-2xl"></i>
        <% end %>
      </div>

    <% end %>
<% end %>


<% if @species %>
  <% if current_user.favorited?(@species) %>

      <div>
        <%= link_to toggle_favorite_species_path(@species), remote: true,
          data: { 'turbo-method': :post } do %>
          <i data-toggle-favorite-target="link" data-action="click->toggle-favorite#toggleIconFill" class="fa-solid fa-heart-circle-minus fa-2xl"></i>
        <% end %>
      </div>


    <% else %>

      <div>
        <%= link_to toggle_favorite_species_path(@species), remote: true,
          data: { 'turbo-method': :post } do %>
          <i data-toggle-favorite-target="link" data-action="click->toggle-favorite#toggleIconFill" class="fa-solid fa-heart-circle-plus fa-2xl"></i>
        <% end %>
      </div>

    <% end %>
<% end %>

<style>
#delete-link {
  /* display: none; */
}
</style>
