<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container d-flex">
    <% if user_signed_in? %>
      <%= link_to "My profile", "#", class: "nav-link" %>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
      <% end %>
      <%= link_to "Add a cache", new_cache_path, class: "nav-link" %>
      <%= link_to "Collection", "#", class: "nav-link" %>
      <%= link_to "Logs", logs_path, class: "nav-link" %>
      <%= link_to "New Log", new_log_path, class: "nav-link" %>
      <%= link_to "css test", css_test_path, class: "nav-link" %>
      <%= link_to "first species", species_path(Species.first), class: "nav-link" %>
    <% else %>
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
        <% end %>
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    <% end %>
  </div>
</div>
