<div class="container mt-5" data-controller="toggle-favorite">
  <p><strong><%= @cache.title %><strong></p>
  <p> <%= @cache.user.username %> </p>
  <p> found on<%= @cache.found_on.strftime("%b %d, %Y") %></p>

  <%#= render 'shared/like_button' %>
  <%= link_to "like",
    toggle_favorite_cach_path(@cache), remote: true,
    data: { 'turbo-method': :post, toggle_favorite_target: "link" } %>

  <div>
    <% if @cache.photos.attached? %>
      <% @cache.photos.each do |photo| %>
        <%= cl_image_tag photo.key, width: 200 %>
      <% end %>
    <% elsif @cache.seed_photo != nil %>
      <%= image_tag @cache.seed_photo, style: "width: 200px; height: 200px;" %>
    <% else %>
      No uploaded photos
    <% end %>
  </div>

</div>
