<div class="container mt-5" data-controller="toggle-favorite">
  <div class="d-none">
    <div id="sm-map-container">
      <div id="map"
            data-controller="map"
            data-map-markers-value="<%= @markers.to_json %>"
            data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
      <div id="sm-static"></div>
    </div>
  </div>
  <div style="">
    <% if @cache.photos.attached? %>
      <% @cache.photos.each do |photo| %>
        <%= cl_image_tag photo.key, width: 200 %>
      <% end %>
    <% elsif @cache.seed_photo != nil %>
      <%= image_tag @cache.seed_photo, style: "width: 200px; height: 200px;" %>
    <% else %>
      No uploaded photos
    <% end %>
  </div>
  <div class="">
    <p><strong><%= @cache.title %><strong></p>
    <p> @ <%= @cache.user.username %> </p>

    <% if @cache.species.present? %>
      <p>Species: <%= link_to @cache.species[0].name, species_path(@cache.species[0]) %></p>
    <% end %>

    <p> found on <%= @cache.found_on.strftime("%b %d, %Y") %></p>

    <%= render 'shared/favorite_icon' %>
    <%#= link_to "collection", favorites_caches_path %>
    <p><%= @cache.description %></p>
    <br>
  </div>

  <div class="<%= @caches.include?(@cache) ? 'card-cache-added-to-collection' : 'card-cache-added-to-collection d-none' %>" data-toggle-favorite-target="card">
    <% if @cache.photos.attached? %>
      <% @cache.photos.each do |photo| %>
        <%= cl_image_tag photo.key, width: 200 %>
      <% end %>
    <% elsif @cache.seed_photo != nil %>
      <%= image_tag @cache.seed_photo, style: "width: 80px; height: 80px;" %>
    <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <% end %>
    <div class="card-cache-added-to-collection-infos">
      <h2><%= link_to "Added to your collection!", favorites_caches_path, class: "text-decoration-none" %></h2>
    </div>
    <div class="icon-added-cache">
      <img src="https://res.cloudinary.com/dytbz32gy/image/upload/v1669318620/FORAGR/ICON%20-%20added%20cache%20in%20collection.png" alt="icon check gold" style="margin-right: 16px;">
  </div>
</div>
</div>

<style>
  #sm-map-container {
    width: 414px;
    height: 300px;
    margin: 0;
    display: grid;
  }
  #sm-map {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    visibility: hidden;
  }
  #sm-static {
    background-image: url("https://api.mapbox.com/styles/v1/mapbox/streets-v10/static/-73.60488,45.53257,10/414x300?access_token=<%= ENV['MAPBOX_API_KEY'] %>");
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
  }
</style>
