<%= render "/shared/back" %>
<div id="sm-map-container">
  <%= render 'map' %>
  <div id="sm-static"></div>
</div>

    <% if @cache.photos.attached? && @cache.photos.count > 1 %>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= cl_image_tag @cache.photos.first.key, class: "d-block w-100" %>
          </div>
          <% @cache.photos.drop(1).map do |p| %>
            <div class="carousel-item">
              <%= cl_image_tag p.key, class: "d-block w-100" %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% elsif @cache.seed_photo || @cache.photos.count == 1 %>
      <div class="p1-cache-show-seed">
        <%= image_tag @cache.seed_photo %>
      </div>
    <% else %>
      <p>No uploaded photos</p>
    <% end %>

    <div class="d-flex justify-content-center mb-2">
      <h6 class="text-success text-align-center"><%= @cache.title %></h6>
    </div>

  <div class="row justify-content-lg-center">
    <div class="col-sm-12 col-lg-6">
      <div class="">
        <div class="d-flex justify-content-between p-2">
          <div>
            <p class="mb-0"><small>@<%= @cache.user.username %></small></p>
            <p class=""><small class="text-muted"><%= @cache.found_on.strftime("%b %d, %Y") %></small></p>
            <h5 class=""><%= @cache.description %></h5>
          </div>
          <div data-controller="toggle-favorite">
            <a href="/caches/<%= @cache.id %>/toggle_favorite"
              data-turbo-method="post"
              tabindex="0"
              role="button"
              data-bs-toggle="popover"
              data-bs-trigger="manual"
              data-bs-placement="left"
              data-bs-html="true"
              data-bs-content="Added!"
              data-bs-custom-class="custom-popover"
              data-toggle-favorite-target="popoverLink">
              <i id="heart" data-toggle-favorite-target="link" data-action="click->toggle-favorite#toggleIconFill" class="<%= current_user.favorited?(@cache) ? 'fa-solid fa-heart-circle-minus fa-2xl' : 'fa-solid fa-heart-circle-plus fa-2xl' %>"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

    <% if @cache.species.present? %>

      <div class="d-flex justify-content-center">
        <% @cache.species.each do |s| %>
          <%= link_to s.name, species_path(s), class: "btn btn-secondary m-auto" %>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
