<%= render "/shared/back" %>
<div id="sm-map-container">
  <%= render 'map' %>
  <div id="sm-static"></div>
</div>

<div class="header-cache-show-and-back-btn">Caches</div>

<div class="master-container-cache-show" data-controller="toggle-favorite">
  <div class="header-cache-show">
    <h1><strong><%= @cache.title %><strong></h1>
    <h2> @ <%= @cache.user.username %> </h2>
    <br>
    <h3> found on <%= @cache.found_on.strftime("%b %d, %Y") %></h3>
  </div>


  <div class="cache-photo-grid">
    <% if @cache.photos.attached? %>
      <% if @cache.photos.count == 1 %>
        <div class="p1-cache-show">
          <%= cl_image_tag @cache.photos.first.key %>
        </div>
      <% elsif @cache.photos.count == 2 %>
        <div class="p1-cache-show">
          <%= cl_image_tag @cache.photos.first.key %>
        </div>
          <div class="p2-cache-show">
            <%= cl_image_tag @cache.photos.last.key %>
          </div>
      <% else %>
        <div class="p1-cache-show">
          <%= cl_image_tag @cache.photos.first.key %>
        </div>
          <div class="p2-cache-show">
            <%= cl_image_tag @cache.photos[1].key %>
          </div>
          <div class="p3-cache-show">
            <%= cl_image_tag @cache.photos.last.key %>
          </div>
      <% end %>
    <% elsif @cache.seed_photo %>
      <div class="p1-cache-show-seed">
        <%= image_tag @cache.seed_photo %>
      </div>
    <% else %>
      <p>No uploaded photos</p>
    <% end %>
  </div>
  <div>


  <div class="fav-btn-and-if-species">
  <div class="if-species">

    <% if @cache.species.present? %>
      <div class="container">
        <% @cache.species.each do |s| %>
          <%= link_to s.name, species_path(s), class: "btn btn-go-to-species mt-2" %>
        <% end %>
      </div>
    <% end %>

</div>
<div class="fav-icon-cache" style="display: flex; justify-content: center;">
    <%= render 'shared/favorite_icon' %> <br>
  </div>

  </div>
    <div class="<%= @caches.include?(@cache) ? 'card-cache-added-to-collection' : 'card-cache-added-to-collection d-none' %>" data-toggle-favorite-target="card">
      <%= link_to favorites_caches_path do %>
        <span class="show-link"></span>
      <% end %>
      <% if @cache.photos.attached? %>
          <%= cl_image_tag @cache.photos.first.key, width: 200 %>
      <% elsif @cache.seed_photo != nil %>
        <%= image_tag @cache.seed_photo, style: "width: 80px; height: 80px;" %>
      <% else %>
        <p></p>
      <% end %>
      <i class="fa-solid fa-check"></i><h2>Added to your collection!</h2>
    </div>

  <div class="cache-show-infos">
    <p><%= @cache.description %></p>
  </div>
</div>

<style>
  #added {
    position: relative;
  }
</style>
