<div class="header-profile">
<p>My Profile</p>
<%= link_to "log out", destroy_user_session_path, data: { 'turbo-method': :delete }, class: "btn btn-outline-secondary btn-sm", style: "position: absolute; top: 40px;" %>
</div>

<div class="card-log-profile">
  <% if current_user.email == "a@a.a" || current_user.email == "river@gmail.com" %>
    <img src="https://ca.slack-edge.com/T02NE0241-U044LJM9RL5-ce7c2bd0f2fc-512" />
  <% end %>
  <div class="card-log-profile-infos">
    <h2><%= current_user.username %></h2>
    <p><strong>Montréal, QC</strong></p>
  </div>
</div>

<br>

<div>
<%# <a class="btn btn-add-a-log" href="#">Add a log</a> %>
<%= link_to "Add a log", new_log_path, class: "btn btn-add-a-log" %>
</div> <br>



<div class="all-log-pictures">
<div class="container">
  <div class="post-list">
    <% @logs.each do |log| %>
      <div>
        <%# div for photos attached to the log, if none, then show the seed photo %>
        <div class="log-picture">
          <%= link_to log_path(log) do %>
            <% if log.photos.attached? %>
                <%= cl_image_tag log.photos.first.key %>
            <% else %>
              <%= image_tag log.seed_photo %>
            <% end %>
          <% end%>
        </div>
          <%# Basic info on log %>
          <%# <%= log.created_on %>
          <%# <%= log.content %>
      </div>
    <% end %>
  </div>
</div>
