<div>
  <h1>Logs#index</h1>
  <div class="post-list" style="list-style: "><% @logs.each do |log| %>
    <div>
      <%# div for photos attached to the log, if none, then show the cache photo %>
        <div>
          <% if log.photos.attached? %>
            <% log.photos.each do |photo| %>
              <%= cl_image_tag photo.key, width: 95, height: 95 %>
            <% end %>
          <% elsif log.cache == nil %>
            No Photo
          <% else %>
            <%= image_tag log.cache.seed_photo, width: 95, height: 95 %>
          <% end %>
        </div>
        <%# Basic info on log %>
        <%# <%= log.created_on %>
        <%# <%= log.content %>
        <%# <%= link_to "this log show", log_path(log) %>
    </div>
  <% end %>
  </div>
</div>




<section class="post-list">

  <a href="" class="post">
    <figure class="post-image">
      <img src="https://picsum.photos/300?image=600" alt="">
    </figure>
  </a>

</section>
