<div>
  <h1>Logs#index</h1>
  <ul style="list-style: none"><% @logs.each do |log| %>
    <div>
      <li>
        <div>
          <% if log.photo.attached? %>
            <%= cl_image_tag log.photo.key, width: 200 %>
          <% else %>
            <%= log.seed_photo_url %>
          <% end %>
        </div>
        <%= log.created_on %>
        <%= log.content %>
        <%= link_to "this log show", log_path(log) %>
      </li>
    </div>
  <% end %>
  </ul>
</div>
