<div class="container">
  <%= render "shared/back" %>
  <div class="form-log">
    <h1>Write A Log</h1>
  </div>
  <%= simple_form_for @log do |f| %>
  <%= f.error_notification %>
  <%= f.input :title, placeholder: "title" %>
  <%= f.input :created_on, as: :date, html5: true %>
  <%= f.input :photos, as: :file, input_html: {multiple: true}%>
  <%= f.input :content %> <br>
  <%= f.submit "Add a log", class: "btn mt-2 btn-add-a-log" %>
  <% end %>
</div>
