<div class="container">
<div class="form-log">
  <h1 style="font-size: 20px;">Write A Log</h1>
</div>
  <%= simple_form_for @log do |f| %>
  <%= f.error_notification %>
  <%= f.input :title, placeholder: "title" %>
  <%= f.input :created_on, as: :date, html5: true %>
  <%= f.input :photos, as: :file, input_html: {multiple: true}%>
  <%= f.input :content %>
  <%= f.submit "Add This Log" %>
  <% end %>
</div>
