<div class="container">
  <%= render "shared/back" %>
  <div id="log-form" class="form-log">
    <h1>Write A Log</h1>
  </div>
  <%= simple_form_for @log do |f| %>
  <%= f.error_notification %>
  <%= f.input :title, placeholder: "your title here" %>
  <%= f.input :cache_id, collection: current_user.favorited_by_type("Cache"),
              input_html: { data: {
                                controller: "tom-select",
                                tom_select_target: "input"
                                } } %>
  <%= f.input :created_on, as: :date, html5: true, input_html: { value: Date.today } %>
  <%= f.input :photos, as: :file, input_html: {multiple: true}%>
  <%= f.input :content, placeholder: "your content here" %> <br>
  <%= f.submit "Add a log", class: "btn mt-2 btn-add-a-log" %>
  <% end %>
</div>
