<div>
  <h1>Logs#show</h1>
  <div>
    <% if @log.cache == nil %>
      No Cache Attached
    <% else %>
      <%= image_tag @log.cache.seed_photo, style: "width: 200px;" %>
    <% end %>
  </div>
  <div>
  <% if @log.photo == nil %>
    <%= @log.seed_photo_url %>
    <% else %>
      <%= cl_image_tag @log.photo.key, width: 200 %>
    <% end %>
  </div>
  <p><%= @log.created_on %></p>
  <p><%= @log.content %></p>
</div>
