<div class="container">
  <h1><p><strong><%= @log.title %></strong></p></h1>
  <p><%= @log.created_on.strftime("%b %d, %Y") %></p>

  <div class="photo-log-all">
    <% if @log.photos.attached? %>
      <% @log.photos.each do |photo| %>
      <div class="photo-log">
        <%= cl_image_tag photo.key %>
      <% end %>
    <% else %>
      <%= image_tag @log.seed_photo %>
    <% end %>
    </div>
  </div>

  <br>

  </div>
      <p class="log-infos-show"><%= @log.content %></p>
  </div>

</div>
