<div>
  <h1>Logs#show</h1>
  <%# Here is a section for the attached cache, showing the photo attached to the cache is there is one %>
  <div>
    <% if @log.cache == nil %>
      No Cache Attached
    <% else %>
      <%= image_tag @log.cache.seed_photo, style: "width: 200px;" %>
    <% end %>
  </div>
  <%# Here is a section for the photos uploaded and attached to the log, if there are any %>
  <div>
    <% if @log.photos.attached? %>
      <% @log.photos.each do |photo| %>
        <%= cl_image_tag photo.key, width: 200 %>
      <% end %>
    <% else %>
      No uploaded photos
    <% end %>
  </div>
  <%# Basic info on the log %>
  <p><strong><%= @log.title %></strong></p>
  <p><%= @log.created_on.strftime("%b %d, %Y") %></p>
  <p><%= @log.content %></p>
</div>
