<%= render "shared/back" %>

<div class="master-container-log-show">

  <div class="header-log-show">
    <h1><strong><%= @log.title %></strong></h1>
    <p><%= @log.created_on.strftime("%b %d, %Y") %></p>
  </div>


  <div class="photo-log-all">

    <% if @log.photos.attached? %>
      <% if @log.photos.count == 1 %>
        <div class="p1-log-show">
          <%= cl_image_tag @log.photos.first.key %>
        </div>
      <% elsif @log.photos.count == 2 %>
        <div class="p1-log-show">
          <%= cl_image_tag @log.photos.first.key %>
        </div>

          <div class="p2-log-show">
            <%= cl_image_tag @log.photos.last.key %>
          </div>

      <% else %>
        <div class="p1-log-show">
          <%= cl_image_tag @log.photos.first.key %>
        </div>

          <div class="p2-log-show">
            <%= cl_image_tag @log.photos[1].key %>
          </div>
          <div class="p3-log-show">
            <%= cl_image_tag @log.photos.last.key %>
          </div>

      <% end %>
    <% else %>
      <div class="p1-log-show-seed">
        <%= image_tag @log.seed_photo %>
      </div>
    <% end %>

    </div>
        <p class="log-infos-show"><%= @log.content %></p>
        <%= link_to "Related Cache", cache_path(@log.cache), class: "btn btn-go-to-species mt-2" %>
    </div>
  </div>
</div>
</div>
