<div class="container-show-cache">
<div class="header-show-cache">
  <h1><p><strong><%= @log.title %></strong></p></h1>
  <p><%= @log.created_on.strftime("%b %d, %Y") %></p>
</div>

  <div class="photo-log-all">
    <% if @log.photos.attached? %>
      <div class="p1-show">
        <%= cl_image_tag @log.photos.first.key %>
      </div>
      <div class="photo-log-2-3">
      <div class="p2-show">
        <%= cl_image_tag @log.photos[1].key %>
      </div>
      <div class="p3-show">
        <%= cl_image_tag @log.photos.last.key %>
      </div>
    <% else %>
    <div class ="p1-show-seed">
      <%= image_tag @log.seed_photo %>
    </div>
    <% end %>
    </div>
  </div>

  <br>

  </div>
      <p class="log-infos-show"><%= @log.content %></p>
  </div>

</div>
