<div class="container-show-cache">
<div class="header-show-cache">
  <h1><p><strong><%= @log.title %></strong></p></h1>
  <p><%= @log.created_on.strftime("%b %d, %Y") %></p>
</div>

  <div class="photo-log-all">
    <% if @log.photos.count == 1 %>
      <div class="p1-cache-show">
        <%= cl_image_tag @log.photos.first %>
      </div>
    <% elsif @log.photos.count == 2 %>
      <div class="p1-cache-show">
        <%= cl_image_tag @log.photos.first %>
      </div>
      <div class="photo-cache-2-3">
        <div class="p2-cache-show">
          <%= cl_image_tag @log.photos.last %>
        </div>
      </div>
    <% else %>
      <div class="p1-cache-show">
        <%= cl_image_tag @log.photos.first %>
      </div>
      <div class="photo-cache-2-3">
        <div class="p2-cache-show">
          <%= cl_image_tag @log.photos[1] %>
        </div>
        <div class="p3-cache-show">
          <%= cl_image_tag @log.photos.last %>
        </div>
      </div>
    <% end %>

  </div>

  <br>

  </div>
      <p class="log-infos-show"><%= @log.content %></p>
  </div>

</div>
