<%= render "shared/back" %>

<div class="container mt-2">

  <div class="header-log-show">
    <h1><strong><%= @log.title %></strong></h1>
    <p><%= @log.created_on.strftime("%b %d, %Y") %></p>
  </div>

  <div class="row row-cols-8 row-cols-md-6">
    <% if @log.photos.attached? %>
        <% @log.photos.each do %>
          <div class="row">
              <%= cl_image_tag @log.photos.first.key %>
          </div>
        <% end %>
    <% elsif @log.seed_photo %>
      <div class="row">
        <%= image_tag @log.seed_photo, crop: :fill %>
      </div>
    <% end %>
  </div>

    <div>
        <p class="log-infos-show"><%= @log.content %></p>
        <% if @log.cache %>
          <%= link_to "Related Cache", cache_path(@log.cache), class: "btn btn-info mt-2" %>
        <% end %>
    </div>
  </div>
</div>
</div>
